html, body {
	overflow: hidden;
	height: 100%;
}

body {
	background-color: black;
	font-family: "Silkscreen", sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	background-color: black;
	position: fixed;
	z-index: 10;
	padding: 0 20px 0;
	width: calc(100vw - 40px);
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer {
	background-color: black;
	position: fixed;
	z-index: 10;
	padding: 10px 20px 10px;
	width: calc(100vw - 40px);
	height: 5vh;
	left: 0;
	right: 0;
	bottom: 0;
}

.row {
	display: flex;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.true_center {
	justify-content: center;
	align-items: center;
}

.disp {
	opacity: 1 !important;
}

.invert {
	filter: invert(100%);
}

.pic {
	width: min(90vw, 90vh);
	z-index: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
/*	filter: saturate(0.2);*/
	transition: opacity 2s ease-in-out;
}

.mobile_pic {
	display: none;
}

.mobile_br {
	display: none;
}

.announcement {
	position: fixed;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: black;
	height: 4rem;
	width: 200vw;

    overflow: hidden;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.announcement_text {
	margin: 0 30px;
	font-size: 2rem;
	animation: animate_text 30s linear infinite;
}

.icon {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 40px;
}

.mock_img {
	max-height: 300px;
	border-radius: 10px;
}

.mock_card {
	display: inline-block;
	height: 32.5vh;
	width: 17.5vw;
	margin: 20px;
}

.mocks_wrapper {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
}

.mocks_ctnr {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	height: calc(100vh - 160px);
	width: 90vw;
}

@keyframes animate_text {
    from {
      	transform: translate3d(0, 0, 0);
    }
    to {
      	transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width: 500px) {
	.mobile_br {
		display: block;
	}

	.mobile_pic {
		display: block;
	}

	.desktop_pic {
		display: none;
	}
}