html, body {
	overflow: hidden;
	height: 100%;
}

body {
	background-color: black;
	font-family: "Silkscreen", sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-weight: 400;
	z-index: 100;
}

.header {
	background-color: black;
	position: fixed;
	z-index: 10;
	padding: 0 20px 0;
	width: min(90vw, 85vh);
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer {
	background-color: black;
	position: fixed;
	z-index: 75;
	padding: 20px;
	width: calc(100vw - 40px);
	height: 5vh;
	left: 0;
	right: 0;
	bottom: 0;
}

.hidden {
	display: none !important;
}

.spacer {
	height: 1rem;
}

#burger {
	background-color: transparent;
	border: none;
	height: 3rem;
	width: 4rem;
	cursor: pointer;
	justify-self: end;
}

#burger:hover, #burger:active {
	opacity: 0.5;
}

#linklist_shadow {
	width: min(27vw, 25.5vh);
	height: min(90vw, 85vh);
	z-index: 5;
	background: linear-gradient(270deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);
}

#linklist {
	z-index: 10;
	padding: 0 20px 0;
	text-align: right;
	font-size: 2rem;
	top: 50%;
	transform: translate(0, -50%);
}

.links {
	position: fixed;
	top: -1px;
	right: -1px;
	margin: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.link:hover, .link:active {
	opacity: 0.5;
}

.row {
	display: flex;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.true_center {
	justify-content: center;
	align-items: center;
}

.disp {
	opacity: 1 !important;
}

.invert {
	filter: invert(100%);
}

.pic_container {
	width: min(90vw, 85vh);
	height: min(90vw, 85vh);
	z-index: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pic {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
/*	filter: saturate(0.2);*/
	transition: opacity 2s ease-in-out;
}

#product_row {
	display: flex;
	align-items: center;
	height: 70vh;
	width: 100vw;
	position: fixed;
	z-index: 150;
	bottom: 50%;
	left: 0;
	transform: translate(0, 50%);
	overflow-x: scroll;
	overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#product_row::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.polaroid_stack {
  	display: grid;
	transition: filter 1s ease-in-out, transform 0.5s ease-in-out;
	z-index: 150;
    pointer-events: auto;
    cursor: pointer;
}

.polaroid_border {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin-left: 5vw;

	z-index: 150;

	transition: transform 0.5s ease-in-out;

	grid-column: 1;
	grid-row: 1;
	box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);
}

.polaroid {
	position: relative;
	width: min(81vw, 38.25vh);
	margin: min(6vw, 2.8333vh) min(6vw, 2.8333vh) 0;
	overflow-y: hidden;
	z-index: 150;
}

.shirt_name {
	font-family: "Lacquer", system-ui;
	font-size: 2em;
	color: black;
	margin: 20px;
}

.front_product_row_spacer {
	min-width: 50px;
	height: 1px;
}

.product_row_spacer {
	min-width: calc(100vw - 5vw - min(40.5vw, 38.25vh) - min(3vw, 2.8333vh));
	height: 1px;
}

.size_selector {
	position: absolute;
	left: calc(41.0833vh + 5vw + 30px);
	top: 5vh;

	opacity: 0;
	transition: all 0.2s ease-in-out;
	z-index: 500;

	display: flex;
	flex-direction: column;
}

.size_btn {
	border: none;
	outline: 2px white solid;
	background-color: black;
	color: white;
	margin: 5px;

	font-family: "Silkscreen", sans-serif;
	font-size: 2rem;
	text-align: center;
	cursor: pointer;
	width: 6rem;
	padding: 0;
}

.size_btn:active {
	background-color: white;
	color: black;
}

@keyframes plus_one_animation {
  0%   {opacity: 1;}
  50%  {opacity: 1; transform: translate(0, -25px);}
  100% {opacity: 0; transform: translate(0, -50px);}
}

.plus_one {
	position: absolute;
	opacity: 1;
	color: white;
	font-family: "Silkscreen", sans-serif;
	font-size: 3rem;
	text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
	animation-name: plus_one_animation;
	animation-duration: 1.5s;
	z-index: 500;
	pointer-events: none;
}

#cart_btn {
	background-color: transparent;
	border: none;
	height: 3rem;
	width: 4rem;
	cursor: pointer;
	justify-self: end;
	z-index: 100;
}

#cart_btn:hover, #cart_btn:active {
	opacity: 0.5;
}

#cart_container {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	z-index: 200;
	transform: translate(100%, 0);
	transition: all 0.3s ease-in-out;

	display: flex;
	align-items: center;
}

#cart_close {
	height: 100vh;
	width: calc(100vw - max(300px, 30vw));
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	transition: backdrop-filter 0.2s ease-in-out;
	
	padding-right: 10px;

	display: flex;
	justify-content: right;
	align-items: center;
}

#cart {
	position: relative;
	height: 100vh;
	width: max(300px, 30vw);
	background-color: black;
}

#cart_header {
	padding: 25px max(60px, 6vw) 0;
	height: 3rem;
	width: max(240px, 24vw);

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#cart_empty {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#cart_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#cart_list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.cart_item {
	display: flex;
	width: calc(max(300px, 30vw) - 30px);
	padding: 20px 0;
}

.cart_item_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 5px 5px 1vw;
}

.cart_item_name {
	font-size: 1.2em;
	padding-left: 5px;
	margin-bottom: -10px;
    overflow: hidden;
    white-space: nowrap;
}

.cart_item_size {
	font-size: 1.2em;
	padding-left: 5px;
}

.cart_item_thumb {
	width: 100px;
	height: 100px;
	padding-right: 10px;
}

.cart_item_quantity {
	margin: 0 1px 5px;
}

.cart_item_total {
	margin-left: 15px;
}

.cart_item_quantity_btn {
	background-color: black;
	width: 35px;
	height: 35px;
	color: white;
	border: 5px solid white;
	margin: 0 10px 5px;
}

.cart_item_quantity_btn:active {
	background-color: white;
	color: black;
}

.cart_item_quantity_btn:active svg {
	filter: invert(100%);
}

#cart_footer {
	display: none;

	flex-direction: column;
	align-items: center;

	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, 0);
}

#checkout_btn {
	background-color: white;
	border: none;
	color: black;
	font-family: 'Silkscreen';
	font-size: 2em;
	text-align: center;
	padding: 2px 5px 5px;
	vertical-align: center;
	margin-top: 10px;
}

.blur {
	filter: blur(5px);
}

.mobile_br {
	display: none;
}

.announcement {
	position: fixed;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: black;
	height: 4rem;
	width: 200vw;

    overflow: hidden;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.announcement_text {
	margin: 0 30px;
	font-size: 2rem;
	animation: animate_text 30s linear infinite;
}

.icon {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 40px;
}

.center_text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes animate_text {
    from {
      	transform: translate3d(0, 0, 0);
    }
    to {
      	transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width: 500px) {
	.mobile_br {
		display: block;
	}

	.mobile_product_row {
		padding: 0;
	}

	.front_product_row_spacer {
		min-width: 80px;
	}

	#cart_close {
		padding-right: 0px;
		justify-content: center;
	}

	#product_row {
		bottom: 45%;
	}

	.size_selector {
		top: 55vh;
		left: -5px;
		flex-direction: row;
	}

	.size_btn {
		font-size: 1rem;
		width: calc((90vw - 30px) / 6)
	}

	.cart_item_thumb {
		padding-right: 0;
	}
}